* {
    box-sizing: border-box;
    font-family: monospace;
    color: red;
}
body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.885);
    color: white;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.main-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.list {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
.list li {
    width: 220px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 8px rgba(162, 24, 24, 0.662);
}
.list li:hover {
    transform: scale(1.1);
}
img {
    width: 100%;
}

input {
    max-width: 300px;
    width: 100%;
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
}
select {
    max-width: 200px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    outline: none;
}
button {
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid red;
}
.types {
    color: red;
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 20px;
}
